:root {
  /* BRAND COLOR */
  --rc-color-brand: #010101;

  /* COLOR PALETTE */
  --rc-color-n-000: #e6b89c;
  --rc-color-n-050: #572364;
  --rc-color-n-100: #efb810;
  --rc-color-n-300: #aeaeae;
  --rc-color-n-500: #7c0326e5;
  --rc-color-n-700: #2c0fc0cb;
  --rc-color-n-900: #1a1a1a;

  /* BACKGROUND COLOR */
  --rc-color-background-primary: var(--rc-color-n-000);
  --rc-color-background-secondary: var(--rc-color-n-050);
  --rc-color-background-tertiary: var(--rc-color-n-100);



  /* TYPOGRAPHY COLOR */
  --rc-color-typography-heading: var(--rc-color-n-500);
  --rc-color-typography-body: var(--rc-color-n-900);
  --rc-color-typography-note: var(--rc-color-n-300);
  --rc-color-typography-button: var(--rc-color-n-000);
  --rc-color-typography-h1: var(--rc-color-n-900);
  --rc-color-typography-h2: var(--rc-color-n-900);
  --rc-color-typography-h3: var(--rc-color-n-000);
  --rc-color-typography-h4: var(--rc-color-n-000);

  /* TYPOGRAPHY TYPE */
  

  /* FONT SIZE */
  --rc-typography-h1: 1.9375rem;
  --rc-typography-h2: 1.5625rem;
  --rc-typography-h3: 1.25rem;
  --rc-typography-h4: 1rem;
  --rc-typography-p: 1rem;
  --rc-typography-s: 0.8125rem;



  /* MARGIN */
  --rc-typography-margin-heading: 0.75rem;
  --rc-typography-margin-body: 1.125rem;

  

  /* BORDER RADIUS */
  --rc-radius-card: 0.5rem;
}

/* principal */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--rc-color-background-primary);
  color: var(--rc-color-typography-body);
  font-family: var(--rc-typography-typeface);
  font-size: var(--rc-typography-p);
  font-weight: 400;
  line-height: var(--rc-typography-p-leading);
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* tipografia */
a {
  color: var(--rc-color-brand);
  text-decoration-color: var(--rc-color-typography-note);
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

h1,
h2,
p,
ul {
  margin-top: 0;
}

h1,
h2 {
  color: var(--rc-color-typography-heading);
  margin-bottom: var(--rc-typography-margin-heading);
  color: var(--rc-color-n-900);
}

h1 {
  font-size: var(--rc-typography-h1);
  line-height: var(--rc-typography-h1-leading);
}

h2 {
  font-size: var(--rc-typography-h2);
  line-height: var(--rc-typography-h2-leading);
  text-align: center;
  padding-top: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
  /* border: 2px solid white; */
}

h3,
h4 {
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
}
p,
ul {
  margin-bottom: var(--rc-typography-margin-body);
}

p:last-child,
ul:last-child {
  margin-bottom: 0;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  list-style: none;
  text-decoration: underline;
  justify-content: space-between;
  border: 2px solid white;
}

/* imagen */
img,
svg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--rc-gap-card);
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

/* componentes */
.info-general {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  background-color: var(--rc-color-n-000);
}

.info-dias {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 1rem;
  background-color: var(--rc-color-background-primary);
}
.info-historia {
  text-align: justify;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
}

/* dispositivos */
/* moviles */
@media screen and (min-width: 23.43rem) {

  section {
    font-size: medium;
    /* padding: 2rem; */
  }
  h1,
  h2 {
    font-size: medium;
  }

  .info-dias {
    display: flex;
    column-gap: 16px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: 0.6rem;
    padding: 1rem;
  }
  
  img {
    max-width: 80%;
  }
}

/* Dispositivo tablet */
@media screen and (min-width: 48rem) {
 
  :root {
    /*TYPOGRAPHY FONT SIZE */
    --rc-typography-h1: 2.1875rem;
    --rc-typography-h2: 1.75rem;
    --rc-typography-p: 1.125rem;
    --rc-typography-s: 0.875rem;
  }
  h2 {
    font-size: var(--rc-typography-h2);
  }
  
  .info-historia {
    border: 2px solid white;
  }

  .info-dias {
    font-size: var(--rc-color-typography-note);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: 0.6rem;
    padding: 1rem;
    background-color: var(--rc-color-background-primary);
  }


}


@media screen and (min-width: 75rem) {
/* Dispositivo PC */
  :root {
    /*TYPOGRAPHY*/

    /* FONT SIZE */
    --rc-typography-h1: 2.75rem;
    --rc-typography-h2: 2.1875rem;
    --rc-typography-h4: 1.4375rem;

    /* MARGIN */
    --rc-typography-margin-heading: 1rem;
    --rc-typography-margin-body: 1.75rem;

      /* GAP */
    --rc-gap-header: 2rem;
    --rc-gap-customer: 4rem;
    --rc-gap-card: 2rem;
    --rc-gap-pricing: 3rem;
  }

  /*TYPOGRAPHY*/
  .rc-text-intro {
    font-size: var(--rc-typography-h4);
  }

   .block {
    display: flex;
    flex-direction: row;
    column-gap: normal;
    margin-bottom: 24px;
    border: 2px solid white;
    text-align: justify;
    padding: 2rem;
  }

}
